<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Content Management</title>
  </head>
  <body>
    <main>
        <h1>Anna University Virtual Tour Content Management Interface</h1>
        <a href ="/contentManager/dataFill.html">Upload new Location</a><br />
        <a href ="/contentManager/deleteData.html">Delete Location</a><br />
        <a href ="/contentManager/getData.html">Get all Location Names</a><br />
        <a href ="/contentManager/patchImage.html">Update Location Image (or) Upload Description Image (or) Upload Description Audio</a><br />
        <a href ="/contentManager/patchData.html">Update Location Data</a><br />
    </main>
  </body>
</html>
