<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DELETE Location</title>
  </head>
  <body>
    <main>
        <h1>Anna University Virtual Tour Location Delete Location</h1>
        <form class="form" action="/s3/delete" method="post">
            <label for="passwd">Password:</label>
            <input type="text" id="passwd" name="passwd" placeholder="Password" required>
            <br />
            <label for="bname">Building name:</label>
            <input type="text" id="bname" name="bname" placeholder="Building Name" required>
            <br />
            <button type="submit">DELETE</button>
        </form>
    </main>
  </body>
</html>